[submodule "contrib/libmallochooks"]
	path = contrib/libmallochooks
	url = https://github.com/stephenrkell/libmallochooks
[submodule "tools/lang/c/cil"]
	path = tools/lang/c/cil
	url = https://github.com/kerneis/cil
