*.a
*.allocstubs.c
*.allocstubs.s
*.cil.c
*.cil.i
*.cil.s
*.cma
*.cmi
*.cmo
*.cmx
*.cmxs
*.d
*.i
*.i.allocs
*.o
*.o.fixuplog
*.pyc
*.so
*.swp
tests/alloca/alloca
tests/offsetof/offsetof
tests/section-group/section-group
tests/simple-client/simple-client
tests/simple-multi-alloc/simple-multi-alloc
tests/sloppy-dumptypes/sloppy-dumptypes
tools/allocsites
tools/dumptypes
tools/ifacetypes
tools/find-allocated-type-size
tools/lang/c/bin
tools/lang/c/src/base-types-translation
tools/usedtypes
