*.allocstubs.c
*.allocstubs.s
*.cil.c
*.cil.i
*.cil.s
*.cma
*.cmi
*.cmo
*.cmx
*.cmxs
*.i
*.i.allocs
*.o.fixuplog
*.swp

/tests/alloca/alloca
/tests/offsetof/offsetof
/tests/section-group/section-group
/tests/simple-client/simple-client
/tests/simple-multi-alloc/simple-multi-alloc
/tests/sloppy-dumptypes/sloppy-dumptypes
/tools/allocsites
/tools/dumptypes
/tools/ifacetypes
/tools/find-allocated-type-size
/tools/lang/c/bin/base-types-translation
/tools/lang/c/src/base-types-translation
/tools/usedtypes
/tools/lang/c/*/*.d
/tools/cufiles
/tools/dumpptrs
/tools/*.s

/contrib/antlr-3.4-complete.jar
/contrib/antlr-3.4.tar.gz
/contrib/config.mk
/contrib/env.sh
/contrib/libantlr3c-3.4/
/libltdl/

/lib/outdir

/config.h
/config.h.in
/config.mk
/include/liballocs_config.h


/Makefile

__pycache__/
*.py[cod]

.deps/
.libs/


# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

.dirstamp
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/include/stamp-h2
/m4/
/config.guess
/config.sub
/config.status
/config.log
/ltmain.sh
/libtool


# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.pc

# Dependencies
.*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Backup files
*~
\#*\#
.\#*

# WTF Dropbox

.fuse_hidden*
.nfs*
.dropbox*

# we might have .s files, but not in tools/
/tools/*.s

/config.mk
/tests/addrtaken-allocator/addrtaken-allocator
/tools/alloctypes
/tools/dwarftypes
/tools/extrasyms
/tools/frametypes
/tools/metavector

/tests/unit-tests/metavec
/tests/unit-tests/metavec-debug
/tests/unit-tests/*.s
/tests/unit-tests/*.h

tmp-*.txt

/tools/pervasive-types
/tools/roottypes.c

/tests/alloca/-ldl.res
/tests/allocsite-id/allocsite-id
.tests/bit-fields/bit-fields
/tests/char-allocs/char-allocs
/tests/lib-test/lib-test
/tests/malloc-in-exe/malloc-in-exe
/tests/metavec-layout/metavec-layout
/tests/no-unbind-self/no-unbind-self
/tests/nopreload-alloca/nopreload-alloca
/tests/ptr-to-opaque/ptr-to-opaque
/tests/realloc-multi-union/realloc-multi-union
/tests/relf-auxv-dynamic/relf-auxv-dynamic
/tests/sizeof-subtract/sizeof-subtract
/tests/stack-types/stack-types
/tests/stack-walk/stack-walk
/tests/string-lit/string-lit
/tests/uniqtype-make-precise/uniqtype-make-precise
/tests/uniqtype-walk/uniqtype-walk

/tools/lang/c/cil.stamp
